<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456353771969-4nsn5s33vn7h9rl3m0kk9gfj917r552a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456353771969-4nsn5s33vn7h9rl3m0kk9gfj917r552a</string>
	<key>API_KEY</key>
	<string>AIzaSyBVp98GMcjKNwPXYO5IkacqX8vyzsJMKyY</string>
	<key>GCM_SENDER_ID</key>
	<string>456353771969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AnasHamad.ArtistHub</string>
	<key>PROJECT_ID</key>
	<string>artist11</string>
	<key>STORAGE_BUCKET</key>
	<string>artist11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456353771969:ios:c0066e66928dcaafecbf40</string>
</dict>
</plist>